<div class="cards">
  <% posts.forEach(post => { %>
  <div class="card row-group">
    <a href="/post/<%= post.id %>" class="card__link"><%= post.title %></a>
    <form
      action="/delete/<%= post.id %>"
      method="post"
      class="card__form col-group"
    >
      <a type="button" class="button button__edit" href="/edit/<%= post.id %>"
        >Edit</a
      >
      <button type="submit" class="button button__delete">Delete</button>
    </form>
  </div>
  <% }) %>
</div>
