<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>node-express-ejs-crud-mongoose-example</title>
    <link rel="stylesheet" href="/css/simple-blog.css" />
  </head>
  <body>
    <header>
      <h1 class="base-tit">node-express-ejs-crud-mongoose-example</h1>
      <nav class="base-nav">
        <a href="/" class="base-btn">Home <i class="base-ico"></i></a>
        <a href="/new" class="base-btn">New Post <i class="base-ico"></i></a>
      </nav>
    </header>
    <main><%- body %></main>
    <footer>
      <p>&copy; 2024 node-express-ejs-crud-mongoose-example</p>
    </footer>
  </body>
</html>
