<div class="post-container">
  <div class="card">
    <h2 class="card__title"><%= post.title %></h2>
    <p class="card__content"><%= post.content %></p>
  </div>
  <a href="/" class="button button__home">Back to Home</a>  
</div>